/* Commentary */
body
{
	background-image: url("http://fc05.deviantart.net/fs6/i/2005/100/1/0/Master_Universe_by_ANTIFAN_REAL.jpg");
	background-attachment: fixed;	
}

h4
{
	color: orange;
}

.bigTitle
{
	color: purple;
}

.title
{
	color: purple;
}

.text
{
	color: black;
	text-align: justify;
}

.references
{
	color: gray;
}

.contact
{
	color: gray;
}

.partners
{
	color: gray;
}