/* Commentary */
h4
{
	color: orange;
}

.bigTitle
{
	color: purple;
}

.title
{
	color: purple;
}

.text
{
	color: black;
}

.references
{
	color: grey;
}

.contact
{
	color: grey;
}

.partners
{
	color: grey;
}